# Backend runtime
NODE_ENV=development
PORT=4000
database_host=localhost
database_port=3306
database_user=root
database_password=
database_name=yatimcare
JWT_SECRET="change-me-in-production"

# CORS
# Gunakan domain produksi Anda, misalnya https://yourdomain.com
# Bisa juga berisi beberapa origin dipisah koma, misalnya:
# CORS_ORIGIN="https://yourdomain.com,http://localhost:3000"
CORS_ORIGIN="http://localhost:3000"
